{% extends "ecart/base.html" %}
{% block content %}


    <!-- Nav -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <p class="title">Ecart Application</p>
            </a>
    
            
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <!-- Nav Bar -->


    <section class="section">
        {% for product in products %}
            <div class="container columns">
                <div class="column">
                    <p class="title">{{ product.name }}</p>
                    <p class="subtitle"> Rs. {{product.price}} /-</p>
                </div>
                <div class="column">
                    <a class="button is-primary">
                        Buy
                    </a>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}